{% extends "core/base.html" %}
{% load staticfiles %}
{% load cache %}
{% block title %}Homepage{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'carousel/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'carousel/css/jquery.jscrollpane.css' %}" media="all"/>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'carousel/js/jquery.easing.1.3.js' %}"></script>
    <!-- the jScrollPane script -->
    <script type="text/javascript" src="{% static 'carousel/js/jquery.mousewheel.js' %}"></script>
    <script type="text/javascript" src="{% static 'carousel/js/jquery.contentcarousel.js' %}"></script>
    <script type="text/javascript">
        $('#ca-container').contentcarousel();
    </script>
{% endblock %}

{% block content %}
{#    {% cache 3600 "homepage" %}#}
    <a href="{% url 'photos:list' %}"><h1>Django. It works!</h1></a>
    <div class="container-fluid">
        <div id="ca-container" class="ca-container">
            <div class="ca-wrapper">
                {% for photo in photos_list %}
                    <div class="ca-item">
                        <div class="ca-item-main">
                            <img class="ca-icon" src="{{ photo.photo.url }}">
                            <a href="#" class="ca-more">подробнее...</a>
                        </div>
                        <div class="ca-content-wrapper">
                            <div class="ca-content">
                                <h6><em>by {{ photo.author }}</em></h6>
                                <a href="#" class="ca-close">close</a>
                                <div class="ca-content-text">
                                    <p>{{ photo.description }}</p>
                                </div>
                                <ul>
                                    <li><a href="{% url 'photos:photo' pk=photo.pk %}">Смотреть</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{#    {% endcache %}#}
{% endblock %}

