{% extends "core/base.html" %}

{% block title %}{{ user_account.username }}{% endblock %}

<body>
    {% block content %}
        {%  if user_account.avatar %}
            <img src = '{{ user_account.avatar.url }}' width="200px"> <br>
        {% endif %}
        <b>Username: </b> {{ user_account.username }} <br>
        <b>Name: </b> {{ user_account.get_full_name }}
        <br> {% if user_account == user %} <a href="{% url 'mainpage:user_edit' slug=user_account.username %}"> Edit </a>  {% endif %}<br>
        {% if user_account.get_pubs.all %}
            <b>Posts: </b> <br>
            <p>
                {%  for photo in user_account.get_pubs.all %}
                    <a href="{{ photo.get_absolute_url }}"> {{ photo.pub_date|date:'d.m.y' }} </a> <br>
                {% endfor %}
            </p>
        {% endif %}

    {%endblock%}

</body>