{% extends "core/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block head %}
    <link rel="stylesheet" href="{% static 'user.css' %} ">
{% endblock %}

{% block title %}Редактирование {{ user.username }}{% endblock %}

{% block content %}
    {#    {% if user.avatar %}#}
    {#        <img src='{{ user.avatar.url }}' width="200px"> <br>#}
    {#    {% endif %}#}
    {#    <b>Username: </b> {{ user.username }} <br>#}
    {#    <a href="{% url 'mainpage:password_change' %}"> Сменить пароль </a> <br>#}
    {#    <form method="post"> {% csrf_token %}#}
    {#        <table border="dotted">#}
    {#            <tr>#}
    {#                <td>{{ form.email.label_tag }}</td>#}
    {#                <td>{{ form.email }} </td>#}
    {#            </tr>#}
    {#            <tr>#}
    {#                <td>{{ form.first_name.label_tag }}</td>#}
    {#                <td>{{ form.first_name }}</td>#}
    {#            </tr>#}
    {#            <tr>#}
    {#                <td>{{ form.last_name.label_tag }}</td>#}
    {#                <td>{{ form.last_name }}</td>#}
    {#            </tr>#}
    {#            <tr>#}
    {#                <td>{{ form.avatar.label_tag }}</td>#}
    {#                <td>{{ form.avatar }} </td>#}
    {#            </tr>#}
    {#        </table>#}
    {#        <input type="submit" value="Принять исправления">#}
    {#    </form>#}

    <form method="post" id="user_edit_form" enctype="multipart/form-data"> {% csrf_token %}
        <div id="user-profile-2" class="user-profile tabbable">
            <div class="tab-content row no-border padding-24 col-xs-12">
                <div class="col-sm-3 center">
                    <img class="editable img-responsive profile-picture" alt="200x200" id="avatar2"
                         src="{{ user.avatar.url }}"
                         style="max-width: 200px; max-height: 200px;">
                    <button type="submit" class="btn btn-sm btn-block btn-success">
                        <i class="ace-icon fa fa-floppy-o bigger-120"></i>
                        <span class="bigger-110">Save</span>
                    </button>

                    <hr class="featurette-divider">
                </div><!-- /.col -->

                <div class="col-sm-9">
                    <h4 class="blue middle"> {{ user.username }} </h4>
                    <div class="profile-user-info profile-info-row">
                        <div class="profile-info-name"> Имя</div>
                        <div class="profile-info-value"> {% render_field form.first_name class+='form-control' %} </div>
                    </div>
                    <div class="profile-user-info profile-info-row">
                        <div class="profile-info-name"> Фамилия</div>
                        <div class="profile-info-value"> {% render_field form.last_name class+='form-control' %} </div>
                    </div>
                    <div class="profile-user-info profile-info-row">
                        <div class="profile-info-name"> E-mail</div>
                        <div class="profile-info-value"> {% render_field form.email class+='form-control' %} </div>
                    </div>
                    <div class="profile-user-info profile-info-row">
                        <div class="profile-info-name"> Avatar</div>
                        <div class="profile-info-value"> {% render_field form.avatar %} </div>
                    </div>
                </div>

                <div class="col-sm-6 widget-header widget-box transparent">
                    {% if user.get_pubs.all %}
                        <h5 class="widget-title smaller"> Posts: </h5>
                        <ul class="widget-body widget-main">
                            {% for photo in user.get_pubs.all %}
                                <li><a href="{{ photo.get_absolute_url }}">
                                    {{ photo.pub_date|date:'d.m.y' }} </a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>

{% endblock %}