{% extends 'core/base.html' %}

{% block title %} Edit {% endblock %}

{% block content %}
    <div class="container">
        <img src='{{ photo.photo.url }}' width="500px">
        <form method="post"> {% csrf_token %}
            {{ form.errors }}
            <b>{{ form.description.label_tag }}</b> <br> {{ form.description }} <br>
            <b>{{ form.category.label_tag }} </b> <br> {{ form.category }} <br>

            <input type="submit" value="Исправить">
        </form>
    </div>
{% endblock %}