{% extends "core/base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'photo_list.css' %} ">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/like-list.js' %}"></script> {% endblock %}

{% block title %}Список фотографий{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="col-xs-12 col-sm-9">
            {% for photo in object_list %}
                <hr class="featurette-divider">

                <div class="blog-post-meta"><span class="post-meta-author"><i class="fa fa-user"></i>
                <a href="{{ photo.author.get_absolute_url }}">{{ photo.author }}</a></span>
                    <span class="post-meta-time"><i
                            class="fa fa-calendar"></i>{{ photo.pub_date|date:'H:i d.m.y' }}</span>
                    {% if photo.category %}
                        <span class="post-meta-categories"><i class="fa fa-folder-o"></i>
                    <a href="{{ photo.category.get_absolute_url }}">{{ photo.category }}</a></span>
                    {% endif %}
                    <span class="post-meta-comments"><i class="fa fa-comment-o"></i>
                    <a class="meta-comments">{{ photo.get_comments.all.count }} comments</a></span>
                    <span class="post-meta-likes"><i class="fa fa-heart-o like"
                                                     data-likes-url="{% url 'photos:photo_likes' pk=photo.pk %}"
                                                     data-photo-id="{{ photo.pk }}"></i> <span class="likes-count"
                                                                                               data-photo-id="{{ photo.pk }}">{{ photo.likes.count }}</span> likes</span>
                    {% if user == photo.author %}<span class="post-meta-editbutton"><i class="fa fa-pencil"></i>
                    <a href="{% url 'photos:photo_edit' pk=photo.id %}">Edit</a></span>
                    {% endif %}
                    <span class="post-meta-show"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    <a href="{{ photo.get_absolute_url }}">Смотреть</a></span>
                </div><!--/.blog-post-meta-->


                <div class="row featurette">
                    <div class="col-md-7 {% cycle 'push-md-5' ' ' %}">
                        <h2 class="featurette-heading"><a
                                href="{{ photo.author.get_absolute_url }}"> {{ photo.author }} </a></h2>
                        <p class="lead">{{ photo.description }}</p>
                        <h6 class="text-muted"> {{ photo.pub_date|date:'d M Y H:i' }}</h6>
                    </div>
                    <div class="col-md-5 {% cycle 'pull-md-7' ' ' %}">
                        <a href="{{ photo.get_absolute_url }}"><img class="featurette-image img-fluid mx-auto"
                                                                    src="{{ photo.get_file_url }}"
                                                                    alt="Generic placeholder image"></a>
                    </div>
                </div>
                {% empty %}
                <h2 class="featurette-heading">Ничего не найдено</h2>
            {% endfor %}

        </div>

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div align="center" style="margin-bottom: 15px;" class="form-inline container">
                <hr class="featurette-divider">
                <form>
                    {{ search_form.search.errors }}
                    {{ search_form.search.label_tag }} {% render_field search_form.search class+='form-contol' placeholder='Поиск' %}
                    <br>
                    {{ search_form.sort.label_tag }} <br> {% render_field search_form.sort class+='form_control' %} <br>
                    <input type="submit" value="Искать" class="btn btn-secondary btn-sm" role="button"
                           style="margin-top: 7px;">
                </form>
            </div>
            <div class="list-group">
                <a href="{% url 'photos:list_category' slug='all' %}" class='list-group-item list-group-item-info'>
                    All </a>
                {% for x, y in categories %}
                    {% url 'photos:list_category' slug=y as url %}
                    {% if url == request.path %}
                        <a href="{{ url }}" class="list-group-item active"> {{ x }} </a>
                    {% else %}
                        <a href="{{ url }}" class="list-group-item"> {{ x }} </a>
                    {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>


    <div aria-label="Page navigation" align="center">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% else %}
                <li class="disabled page-item">
                    <span><span aria-hidden="true" class="page-link">&laquo;</span></span>
                </li>
            {% endif %}


            {% for page in paginator.page_range %}
                <li {% if page == page_obj.number %}class="active page-item" {% else %}class="page-item"{% endif %}>
                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% else %}
                <li class="disabled page-item">
                    <span><span aria-hidden="true" class="page-link">&raquo;</span></span>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}