{% extends 'core/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block head %}
    <link rel="stylesheet" href="{% static 'signin.css' %} "> {% endblock %}

{% block title %} Password Change {% endblock %}

{% block content %}
    <div class="container">
        <h6 style="align: center;">
            <ul>
                <li>Your password can't be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can't be a commonly used password.</li>
                <li>Your password can't be entirely numeric.</li>
            </ul>
        </h6>

        <form method="post" class="form-signin">
            {{ form.errors.all }}
            {% for field in form %}
                <label class="sr-only">{{ field.label_tag }}</label>
                {% render_field field class+='form-control' placeholder=field.label %}
            {% endfor %}

            <input type="submit" value="Сменить" class="btn btn-primary btn-block">
        </form>
    </div>


{% endblock %}