{% extends "core/base.html" %}

{% block title %}Регистрация пользователя{% endblock %}

{% block content %}
    <div>
        {% if user.is_anonymous %}
            <h1>Регистрация пользователя</h1>

            <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                {% if form.errors %}
                    <p class="error">Пожалуйста исправьте нижеприведённые ошибки.</p>
                {% endif %}
                <table>{{ form.as_table }}</table>
                <input type="submit" value="Зарегистрироваться"/>
            </form>
        {% else %}
            <h1>Вы уже зарегистрированы и авторизованы</h1>
        {% endif %}
    </div>
{% endblock %}