{% url 'mainpage:login' as login_url %}
{% url 'mainpage:register' as register_url %}
{% url 'mainpage:logout' as logout_url %}

<right>
    {% if user.is_anonymous %}
        <a href='{{ login_url }}'}> Авторизация </a> <br>
        <a href='{{ register_url_url }}'> Регистрация </a>
    {% else %}
        {% url 'users:user' slug=user.username as profile %}
        Привет, <a href="{{ profile }}">{{ user.username }}</a> <br>
        <a href="{{ logout_url }}"> Выйти из аккаунта </a>
    {% endif %}
</right>