{% extends 'base.html' %}

{% block title %} Password Change {% endblock %}

{% block content %}
    <form method="post">
    <h5>
        Your password can't be too similar to your other personal information. <br>
        Your password must contain at least 8 characters. <br>
        Your password can't be a commonly used password.<br>
        Your password can't be entirely numeric.<br>
    </h5>

        {% for field in form %}
            {{ field.errors }}
            {{ field.label_tag }} {{ field }} <br>
        {% endfor %}

        <input type="submit" value="Сменить">
    </form>


{% endblock %}